{% extends 'blog/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}

<div class="about">
  <div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Fixed Full Page Background Image</h1>
      <p class="lead">In this snippet, the background image is fixed to the body element. Content on the page will scroll, but the image will remain in a fixed position!</p>
      <p class="lead">Scroll down...</p>
      <div style="height: 800px"></div>
      <p class="lead mb-0">You've reached the end!</p>
    </div>
  </div>
</div>




</div>



{% endblock content  %}